<!DOCTYPE html>
<html>
<head>
  <title>SejongClub</title>
  <%= stylesheet_link_tag    'bootstrap-simplex', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>


<%= render 'pages/header'%>

<%= render 'pages/logged_in'%>

<div class = 'container'>
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
</div>

<div class = "container" id = "body_cover" >
	<%= yield %>
</div>

<%= render 'pages/footer' %>


</body>
</html>
