<!DOCTYPE html>
<html>
<head>
  <title>SejongClub</title>
  <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>-->
  <link rel="stylesheet" type="text/css" href="assets/bootstrap-simplex.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>


<%= render 'pages/header'%>

<%= render 'pages/logged_in'%>

<div class = 'container'>
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
</div>

<%= yield %>


<%= render 'pages/footer' %>


</body>
</html>
