<!-- 윗 부분 구간 -->
	<header class = "navbar naver-inverse">
		<div class = "container" >
			<%= link_to "SejongClub", "#", id: "logo" %>
			<nav>
				<ul class = "nav navbar-nav navbar-right">
					<li><%= link_to "연극1", "#" %> </li>
					<li><%= link_to "연극2", "#" %> </li>
					<li><%= link_to "연극3", "#" %> </li>
					<li><%= link_to "연극4", "#" %> </li>
				</ul>
			</nav>
		</div>
	</header>