<div class = "container" id = "club_9_cut">
<div id = "club_list_cover">
		<% @clubs.reverse.each do |club| %>
				<div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
					<a href = "/clubs/view/<%= club.id %>" class = "thumbnail"> <%= image_tag club.picture.url %> <%= club.name %> </a>
					<btn class = "btn btn-default"> 즐겨찾기 </btn>
					<% if (user_admin?) %>
					<a href = "/clubs/edit/<%= club.id %>" class = "btn btn-default"> Edit </a>
					<a href = "/clubs/delete/<%= club.id %>" class = "btn btn-default"> Delete </a>
					<% end %>
				</div>
		<% end %>
	</div>
</div>

<div id = "center">
	<%= will_paginate @clubs, previous_label: "<<", next_label: ">>" %>
</div>