 <div class="row", id = "club_new">

  <div class="col-md-6 col-md-offset-3">
  <div id = "center">
    <h3> Club Post </h3>
  </div>
   <hr>
    <%= form_for(@club, html: { multipart: true }) do |f| %>
      <%= render 'shared/club_error_messages' %>

      <%= f.label :name %>      
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :category %>
      <%= f.text_field :category, class: 'form-control' %>

      <%= f.label :intro %>
      <%= f.text_field :intro, class: 'form-control' %>

      <%= f.label :personnel %>
      <%= f.text_field :personnel, class: 'form-control' %>

      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :history %>
      <%= f.text_field :history, class: 'form-control' %>

      <%= f.label :picture %>

      <span class="picture">
        <%= f.file_field :picture %>
      </span>

      <div id = "center">
        <br>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
