<!-- 로그인 했을때 보이는 구간 -->
	<% if logged_in? %>

<!-- 로그인 안 했을때 보이는 구간 -->
	<% else %>
		<div class = "cotainer">
			<div class="row" id = "login_box">
				<h1>Log In</h1>

				<div class="col-md-3 col-md-offset-3">
					<div id = "emoticon">
						<%= link_to image_tag("Category22.gif"), "/" %>
					</div>
				</div>

				<div class="col-md-3">
				    <%= form_for(:session, url: login_path) do |f| %>
					      <div id = "login_label">
					      	
						      <div class = "form-group">
						    	<%= f.label :Id %>
						        <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
							  </div>
							    
							  <div class = "form-group">
							    <%= f.label :Password %>
							    <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
						      </div>

					      </div>
						      <div id = "login_btn">
						      <%= f.submit "log in", class: "col-md-6 btn btn-primary" %>
						      <%= link_to "create id", new_user_path, class: "col-md-6 btn btn-default" %>
						      </div>
				    <% end %>

			  	    <%= link_to "Facebook Login", "/auth/facebook", class: "col-md-12 btn btn-info",id: "sign_in"  %>
			  	</div>
			</div>
		</div>
	
<!-- 구간 나누기 막대 -->
	<div class = "container">
		<hr class = "featurette-divider">
	</div>

<% end %>

<!-- 개발자 소개하는 구간 -->
	<div id = "develop_intro" class = "container" >
		<h4> Sejong Club Homepage Developer </h4>
		<div class = "col-lg-4">
			 <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			 <h2> FatDog Club </h2>
			 <p> one of Fatdog member </p>
			 <p> <a class ="btn btn-default" href = "#" role = "button">View detail &raquo;</a></p>
		</div>

		<div class = "col-lg-4">
			 <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			 <h2> 김 동 섭 </h2>
			 <p> one of Fatdog member </p>
			 <p> <a class ="btn btn-default" href = "#" role = "button">View detail &raquo;</a></p>
		</div>

		<div class = "col-lg-4">
			 <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			 <h2> 추 요 한 </h2>
			 <p> one of Fatdog member </p>
			 <p> <a class ="btn btn-default" href = "#" role = "button">View detail &raquo;</a></p>
		</div>
	</div>
